<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>blog1</title>
<style type="text/css">
body {
	background:url(../pictures/blog_bg.jpeg);
	padding:0px;
	margin:0px;
}
#blog {
	width: 75%;
	margin:0px auto;
	border: solid 1px red;
	padding: 10px;
	background-color:white;
}
.top {
	background-image:url(../pictures/blog_bg.jpeg);
	border: solid 1px green;
	/*why border affect padding and margin*/
}
</style>
</head>
<div id="blog">
	<div class="top">
		<div id="header">
			<div id="logo">
				<h1><a href="#">博客标题</a></h1>
				<h2><a href="#">副标题</a></h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="navigation">
			<a href="#">菜单一</a>
			<a href="#">菜单二</a>
			<a href="#">菜单三</a>
		</div>
		<div class="main">
			<div class="content">
				<h1 class="title">文档标题</h1>
				<p class="descr"><small>发布时间</small></p>
				<p>文章内容</p>
				<h2>索引标题</h2>
				<p>索引说明</p>
				<ul>
					<li>列表一</li>
					<li>列表二</li>
					<li>列表三</li>
				</ul>
			</div>
			<div class="sidebar">
				<h2>侧栏标题</h2>
				<ul>
					<li>列表一</li>
					<li>列表二</li>
					<li>列表三</li>
				</ul>
			</div>
		</div>
		<div id="footer">
			<p>版权信息</p>
		</div>
	</div>
</div>
<body>
</body>
</html>
